.card {
    outline: $border-primary;
    max-width: 350px;
    margin: 0 auto;
    height: auto;

    &-img-top {
        object-fit: cover;
        height: 15rem;
    }

    &-title {
        font-size: 1.5rem;
    }

    &-text {
        margin-bottom: auto;
    }

    &-body {
        display: inline-flex;
        flex-direction: column;
        border-top: $border-primary;
        font-weight: getFontWeight(lt);
        font-size: .9em;

        &,
        .links {
            padding-top: .5rem;
            padding-bottom: .5rem;
        }

        .links {
            line-height: 2em;

            i {
                margin-left: .5em;
            }

            a {
                display: block;
                width: max-content;

                &:hover {
                    border-bottom: $border-primary;
                }
            }
        }
    }
}