#coming {
    @include inverted-colors;
    @include flexy-centered;
    height: 100vh;

    .container-fluid {
        width: max-content;
        border: $border-background;
        border-radius: 2rem;
        font-family: $font-family-mono;
        font-weight: getFontWeight(md);

        h1 {
            @include blink-carat($primary);
            margin: 0;
            padding: 1rem;
            padding-right: 0;
        }
    }
}