#contact-me {
    .form {

        // add the rounded border effect
        .form-control,
        .btn,
        .thanks,
        .char-count {
            padding: .6rem;
            margin: .5rem 0;
            background-color: inherit;
            border-radius: .5rem;
            border: none;
            outline: $border-primary;
            color: $primary;
        }

        // maintain field on one line
        // for if text is added before a field
        [class*="col-12"] {
            margin-top: auto;
        }

        // placeholder text
        &-control,
        #message {
            &::placeholder {
                color: rgba($primary, .5);
            }
        }

        .char-count,
        .thanks,
        .btn {
            width: 100%;
            text-align: center;
        }

        @include media-breakpoint-down(lg) {
            .char-count {
                margin-top: 0;
            }

            #message {
                margin-bottom: 0;
            }
        }

        #message {
            overflow-y: hidden;

            //bootstrap changes textarea placeholder opacity
            &::placeholder {
                opacity: 1;
            }
        }

        .char-count {
            outline: none;
        }

        .btn:hover,
        .thanks {
            @include inverted-colors;
        }

        .required {
            background: rgba($warning, .2);
        }

        // error text
        font-size: .6;
        color: $warning;
    }
}