//COLOR
$primary: #26428b; //dark cornflower blue
$background: linear-gradient(rgba(orange, .3), rgba(purple, .2));
$warning: red;

//FONT
$font-family: 'Roboto', sans-serif;
$font-family-mono: 'Roboto Mono', monospace;
$font-size: 20px;
$font-weight: (
    lt:300,
    md:500,
    hy:700,
    xh:900,
);

//BREAKPOINTS
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

//MEASUREMENTS
$nav-width: 10rem;
$burger-width: $nav-width/3;
$h-width:40px;
$h-height:5px;
$h-spacing:6px;
$b-thickness:1px;


//BORDER
$border-primary: $b-thickness solid $primary;
$border-background: $b-thickness solid $background;
$border-warning: $b-thickness solid $warning;