html {
    font-family: $font-family;
    font-weight: getFontWeight(md);
    font-size: $font-size;
}

body {
    background: $background;
    color: $primary;
}

section,
#to-top {
    padding: 1rem;

    @include media-breakpoint-up(lg) {
        margin-left: $nav-width;
    }
}

h1,
h2 {
    font-weight: getFontWeight(xh);
}

h3,
h4,
h5 {
    font-weight: getFontWeight(hy);
}


a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: inherit;
    }
}