html {
    font-family: $font-family;
    font-weight: getFontWeight(md);
    font-size: $font-size;
}

body {
    background: $background;
    color: $primary;
}

section,
#to-top {
    padding: 1rem;


    @include media-breakpoint-up(lg) {
        margin-left: $nav-width;
    }
}

h1,
h2 {
    font-weight: getFontWeight(xh);
}

h3,
h4,
h5 {
    font-weight: getFontWeight(hy);
}


a {
    text-decoration: none;
    color: $primary;
    border-bottom: $border-primary;

    &:hover {
        color: lighten($primary, 20%);
        border-bottom: $b-thickness solid transparent;
    }
}

blockquote {
    font-style: italic;
    font-size: .95rem !important;
    text-align: end;
}

.blockquote-footer {
    text-align: end;
    font-size: .85rem !important;
}

.container-fluid {
    @include media-breakpoint-up(xl) {
        width: 75%;
    }
}