* {
    margin: 0;
    padding: 0;
}

html {
    font-family: $font-family;
    font-weight: getFontWeight(md);
    font-size: $font-size;
}

body {
    background: $background;
    color: $primary;
}

section {
    padding: 1rem;

    @media only screen and (min-width:map-get($grid-breakpoints, lg)) {
        &:not([id="hero"]) {
            padding-left: 1rem + $nav-width;
        }
    }
}

h1,
h2 {
    font-weight: getFontWeight(xh);
}

h3,
h4,
h5 {
    font-weight: getFontWeight(hy);
}


a {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: inherit;
    }
}