#coming {
    @include inverted-colors;

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .container-fluid {
        width: max-content;

        border: $border-background;
        border-radius: 2rem;

        @include media-breakpoint-up(lg) {
            margin: 2rem;
        }
    }

    a {
        @include always-underline-inverted;
    }
}