#contact-me {
    .form {

        &-control,
        #message {
            padding: .6rem;
            margin: .5rem 0;
            background-color: inherit;
            border-radius: .5rem;
            border: none;
            outline: $border-primary;
            color: $primary;

            &::placeholder {
                color: rgba($primary, .5);
            }
        }

        //maintain field on one line
        //for if text is added before a field
        [class*="col-12"] {
            margin-top: auto;
        }

        #message {
            width: 100%;

            &::placeholder {
                opacity: 1;
            }
        }

        .btn {
            color: $primary;
            border: 1px solid $primary;
            width: 100%;

            &:hover {
                color: $background;
                background-color: $primary;
            }
        }

        .required {
            background: rgba($warning, .2);
        }
    }
}