header {

    nav,
    .burger {
        position: fixed;
        z-index: 10000;
    }

    .burger {
        top: 1rem;
        left: 1rem;

        width: $burger-width;
        height: $burger-width;

        transition: margin 500ms ease-in-out;

        .hamburger {
            border-radius: 50%;
            outline: $border-background;
            outline-width: 3px;
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            background-color: $primary;
            filter: opacity(40%);

            &:hover {
                filter: opacity(80%);
            }
        }
    }

    nav {
        width: $nav-width;
        outline: $border-primary;
        overflow-x: hidden;
        background-color: $background;
        height: 100%;
        top: 0;
        left: 0;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;

        * {
            margin: 0;
            padding: 0;
        }

        &-brand {
            border-bottom: $border-primary  !important;
        }

        ul {
            list-style: none;
            margin-top: 1rem;

            li {
                margin-top: 1rem;
            }
        }

        .socials {
            font-size: 2em;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .nav-contact {
            border-top: $border-primary;
            border-bottom: $border-primary;
            padding: .5rem 0;
            margin-top: 2rem;
        }
    }
}

.black-out {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(black, .5);
    z-index: 1000;
}