header {

    nav,
    .burger {
        position: fixed;
        z-index: 10000;
    }

    .burger {
        top: 1rem;
        left: 1rem;

        width: $burger-width;
        height: $burger-width;

        &,
        .hamburger {
            border-radius: 50%;
        }

        .hamburger {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            background-color: $primary;
            filter: opacity(40%);

            &:hover {
                filter: opacity(80%);
            }
        }
    }

    nav,
    #sidebar {
        width: $nav-width;
        border-right: $primary-border;
        overflow-x: hidden;
    }

    #sidebar {
        background-color: $background;
    }

    nav {
        height: 100%;
        top: 0;
        left: 0;
    }

    .navbar {
        display: flex;
        text-align: center;
        justify-content: center;

        * {
            margin: 0;
            padding: 0;
        }

        a {
            color: $primary;
            @include hover-underline;
        }

        &-brand {
            border-bottom: $primary-border  !important;
        }

        ul {
            list-style: none;
            margin-top: 1rem;

            li {
                margin-top: 1rem;
            }
        }

        .socials {
            font-size: 2em;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .nav-contact {
            border-top: $primary-border;
            border-bottom: $primary-border;
            padding: .5rem 0;
            margin-top: 2rem;
        }
    }
}