#hero {
    background-image: linear-gradient(to right, rgba(black, .8), rgba(black, .3)),
        url("../img/hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

    * {
        text-align: center;
        color: $background;
    }

    .btn {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}