#hero {
    background-image: linear-gradient(to right, rgba(black, .8), rgba(black, .3)),
        url("../img/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;

    * {
        color: white;
    }

    .container-fluid {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    h1,
    h2 {
        font-family: $font-family-mono;
        font-weight: getFontWeight(md);
    }

    h1 {
        font-size: 3rem;
        margin-left: auto;
        margin-right: auto;
        @include blink-carat(white);
    }

    @include media-breakpoint-up(lg) {
        h1 {
            width: max-content;
        }
    }
}