#hero {
    background-image: linear-gradient(to right, rgba(black, .8), rgba(black, .3)),
        url("../../img/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-weight: getFontWeight(hy);
        font-size: 1.5rem;
    }

    * {
        text-align: center;
        color: white;
    }

    .btn {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}