#hero {
    background-image: linear-gradient(to right, rgba(black, .8), rgba(black, .3)),
        url("../../img/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0;

    * {
        color: white;
    }

    .container-fluid {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    //centered text
    h1,
    h2 {
        margin-left: auto;
        margin-right: auto;
        width: max-content;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-weight: getFontWeight(hy);
        font-size: 2rem;
    }

    a {
        @include media-breakpoint-up(lg) {
            margin-left: $nav-width;
        }
    }
}