#introduction {
    a {
        @include always-underline;
    }

    #heading {
        border-bottom: $border-primary;
        text-align: center;
        padding-bottom: 1rem;
        margin-bottom: 1rem;

        * {
            margin: 0;
            padding: 0;
        }

        p {
            font-size: 1.5rem;
            font-weight: getFontWeight(hy);
        }
    }
}