#introduction {
    a {
        @include always-underline;
    }

    #heading {
        border-bottom: $border-primary;
        text-align: center;
        padding-bottom: 1rem;
        margin-bottom: 1rem;

        * {
            margin: 0;
            padding: 0;
        }

        p {
            font-size: 1.5rem;
            font-weight: getFontWeight(hy);
        }
    }

    #languages {
        h2 {
            margin-bottom: 1rem;
        }

        figure {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 3rem;
            margin: auto;

            img {
                height: 3rem;
                object-fit: contain;
            }
        }

        figcaption {
            font-size: 1rem;
        }
    }
}