#projects {
    .card {
        $outline: 2px rgba(black, 0.3);
        margin: 1rem 0;
        outline: $outline;
        transition: .5s ease;
        top: 0;

        &:hover {
            top: -.75rem;
        }

        &-img-top {
            border-radius: inherit;
        }

        &-title {
            font-size: 2rem;
        }

        &-text,
        a {
            font-weight: getFontWeight(lt);
        }

        a {
            @include underline-hover($primary);

            i {
                margin-left: 1rem;
            }
        }
    }
}