.typewriter {
    font-family: 'Roboto Mono', monospace;
    position: relative;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
        width: max-content;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        &::before {
            background-color: white;
            animation: typewriter 2s steps($hero-chars, end) forwards;
        }
    }

    @keyframes typewriter {
        to {
            left: 100%;
        }
    }
}