.card {
    outline: $border-primary;

    &-img-top {
        object-fit: cover;
        height: 15rem;
    }

    &-title {
        font-size: 1.5rem;
    }

    &-text {
        margin-bottom: 0;
    }

    &-body {
        display: inline-flex;
        flex-direction: column;
        border-top: $border-primary;
        font-weight: getFontWeight(lt);
        font-size: .9em;

        &,
        .links {
            padding-top: .5rem;
            padding-bottom: .5rem;
        }

        .links {
            margin-top: auto;
            line-height: 2em;

            i {
                margin-left: .5em;
            }

            a:hover {
                border-bottom: $border-primary;
            }
        }
    }
}