.card {
    outline: $primary-border;

    &-img-top {
        object-fit: cover;
        height: 15rem;
    }

    &-title {
        font-size: 1.5rem;
    }

    &-body {
        display: flex;
        flex-direction: column;
        flex: 1;
        border-top: $primary-border;
        font-weight: getFontWeight(lt);
        color: $primary  !important;
        font-size: .9em;

        &,
        .links {
            padding-top: .5rem;
            padding-bottom: .5rem;
        }

        .links {
            border-top: $primary-border;
            margin-top: auto;
            line-height: 2em;

            a {
                @include hover-underline;
                width: max-content;

                i {
                    margin-left: .5rem;
                }
            }
        }
    }
}