@mixin debug {
    * {
        outline: $b-thickness solid red;
        background-color: rgba(red, 0.1);
    }

    @content;
}

@mixin inverted-colors {
    background-color: $primary;
    color: $background;
    border-color: $background;

    @content;
}

@mixin blink-carat($col) {
    &::after {
        animation: blink 1.5s step-end infinite;
        content: "\FF5C";
    }

    @keyframes blink {
        50% {
            color: transparent;
        }
    }

    @content;
}

@mixin flexy-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    @content;
}